.commentItem {
    display: flex;
    flex-direction: row; 
     
    
     
    
   
    background-color: #fff;
    
    padding: 10px 5px 1vh 0px;
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 40%); 
     
    margin-right: 1vh;
    margin-top: 3vh;
    max-width: 50vh;
    min-width: 50vh;
     
     
     
     
}


@media (max-width:768px) {
    .commentItem {
        min-width: 40vh;
         
         
         
         
    }
}



.flexContainer2 button {
    margin: 0;

}



.reply {
    max-width:inherit;
    
      
}


img {
    max-block-size: 5vh;
    border-radius: 50%;
}

.commentTitle {
    margin-bottom: 1vh;
}

.replyItem {
    background-color: red;
}