.commentsContainer {
    display: flex;
    flex-direction: column;
}

/* .commentsContainer input, textarea {
    
} */

.commentsContainer h1 {
    align-self: center;
}

.commentsFormCOntainer {
    align-self: center;

}


.commentsItemsContainer {
    align-self: center;
}