.table {
    flex-basis: 25vh;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 40%);
    max-width: 25vh;
     
     
     
}

@media (max-width:400px) {
    .table {
         max-width: 20vh;
         padding: 0;
    }
}