.table {
    flex-basis: 40vh;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 1vh;
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 40%);
     
     
     
     
}

@media (max-width:768px) {
    .table {
         max-width: 20vh;
         padding: 0;
         box-shadow: none;
         margin: 1px;
          
    }
}