.taskPageContainer {
    display: flex;
    flex-direction: column;
     
}

.taskPageItems {
    font-size: inherit;
     display: flex;
     align-self: center;
  flex-basis: 30vh;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 40%); 
    width: 80vh;
    min-height: 80vh;
    margin-top: 3vh;
    flex-direction: column;
     
  
     
     
}

.taskPageItems * {
    margin-left: 2vh;
    margin-bottom: 2vh;
}




 

button {
    width: 15vh;
    margin:1vh;
    
    

}

.buttonContainer {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     
}





@media (max-width:400px) {
    .taskPageItems {
        width: 30vh;
        min-height: auto;
    }


}