.todoItem {
    align-items: center;
    padding: 1vh 3vh 1vh  1vh;
    overflow: hidden;
    margin-bottom: 1vh;
    box-shadow: 0 5px 7px -1px rgb(51 51 51 / 23%);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    

    flex-basis: 8vh;
     
}

@media (max-width:400px) {
    .todoItem {
        max-width:inherit;
        padding: 0;
         
         
    }
    

    
}

.todoItem:hover {
    transform: scale(1.01);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.taskNumber {
    margin-right: 10px;
    flex-shrink: 0;
  
  width:4vh;
  height:4vh;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  background-color:#d7385e;
  border-radius:50%;
  color:#fff;
}