.table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 60vh;
  margin-top: 1vh;
  
  
}

.App {
  display: flex;
  flex-direction: column;
}

.moduleButton {
  font: inherit;
  align-self: center;
  
  padding: 0.5rem 0rem;
  border: 1px solid black;
  color: white;
  margin-top: 2vh;
  background: black;
  box-shadow: 0 0 40px -10px rgb(0 0 0 / 40%);
  cursor: pointer;
  min-width: 25vh;
   
}

 

.headersTable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

 